@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  text-align: center;
  opacity: var(--app-opacity); 
  transition: opacity 0.5s ease-out; /* fade out transition, doesnt work */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.connectionborder {
  border: 2px gray;
  border-radius: 12px;
  align-items: center; 
  display: flex;
  margin-top: 0rem; 
}

.db-text {
  transition: text-shadow 1.5s ease-in-out; 
}

.db-text:hover {
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5); 
}

.titletext {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.05em;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  color: rgb(86, 86, 86);
  font-family: 'Outfit', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.titletext2 {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.05em;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: rgb(86, 86, 86);
  font-family: 'Outfit', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.titletext3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.05em;
  margin-top: 8rem;
  color: #110b11;
  font-family: 'Poppins', sans-serif; 
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 3rem;
}

.status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.connected {
  background-color: green;
}

.not-connected {
  background-color: red;
}

.connectiontext {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.queryboxold {
  width: 800px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 45px;
  border-color: #e2e2e2;
  padding-left: 8px;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  border-right-color: transparent;
  background-color: black;
  blur: 20%;
  text-color: white;
}

.querybox {
  width: 800px;
  height: 45px;
  padding: 8px;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.8); /* 80% opacity */
  color: white;
  border: none;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding-left: 12px;
}

.submitbuttonold {
  background-color: black;
  border-color: #e2e2e2;
  text-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 51px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  blur: 20%;
}

.submitbutton {
  height: 45px;
  padding: 8px;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding-bottom: 0.65%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.flex2 {
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.powered {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  text-color: darkgray;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 16px solid #0000ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  px: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(270deg, #dde8fe, white,#feecfa);
  background-size: 200% 200%;
  animation: Gradient 10s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

