@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.result-box {
  background-color: rgba(221, 232, 254, 0.5); /* light blue with 50% opacity */
  padding: 1rem; /* 16px padding */
  border-radius: 0.25rem; /* 4px border radius */
  width: 75%; /* make the box cover 75% of the page horizontally */
  margin: 0 auto; /* center the box */
  text-align: left; /* align the text to the left */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* add a subtle shadow */
}

  .connectionstatus {
    background-color: #D6D6D6; /* light gray */
    border-radius: 50px; /* rounded corners */
    display: flex; /* align items in a row */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    padding: 5px 10px; /* padding around text and icon */
  }

  .center-horizontal {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
  }

.queryresult {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 4rem;
  font-size: 55px;
}

.resulttextmain {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 20px;
}